body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #0d0d0d;*/
    background-image: url("img/noisy_net_@2X.png");
    color: #A9A9A9;

}

select {
    margin-left: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

label {
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 5px;
}

pre {
    background-color: #1a1b18;
    border: 1px dashed #383636;
    color: #a38d6d;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.3em;
    padding: 1em;
    direction: ltr;
    font-size: 0.875em;
}
.validation-summary-errors {
    color: red;
}

.height-name {
    height: 28px !important;
}

.height-description {
    height: 112px !important;
}

.glyphicon-info-sign {
    color: dodgerblue;
    padding: 4px;
}

.margin-left {
    margin-left: 15px;
}

.margin-top {
    margin-top: 50px;
}

.text-inline {
    display: flex;
    justify-content: space-between;
}

.img-small {
    width: 20px;
    height: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #0d0d0d 0%, #333333 100%);
}

.jumbotron {
    background-color: #333333;
    text-align: start;
}

.my-textarea {
    background-color: #333333;
    text-align:center,justify;
    width:300px;
    height:auto;
    resize:none;
    border-radius: 4px;
}

.my-btn {
    color: #A9A9A9;
    background-color: #333333;
    border-color: #0d0d0d;
}

    .my-btn-info:focus,
    .my-btn.focus {
        color: #A9A9A9;
        background-color: #333333;
        border-color: #0d0d0d;
    }

    .my-btn:hover {
        color: #A9A9A9;
        background-color: #333333;
        border-color: #0d0d0d;
    }

    .my-btn:active,
    .my-btn.active,
    .open > .dropdown-toggle.my-btn {
        color: #A9A9A9;
        background-color: #333333;
        border-color: #0d0d0d;
    }

        .my-btn:active:hover,
        .my-btn.active:hover,
        .open > .dropdown-toggle.my-btn:hover,
        .my-btn:active:focus,
        .my-btn.active:focus,
        .open > .dropdown-toggle.my-btn:focus,
        .my-btn:active.focus,
        .my-btn.active.focus,
        .open > .dropdown-toggle.my-btn.focus {
            color: #A9A9A9;
            background-color: #333333;
            border-color: #0d0d0d;
        }

.my-btn:active,
.my-btn.active,
.open > .dropdown-toggle.my-btn {
    background-image: none;
}

    .my-btn.disabled:hover,
    .my-btn[disabled]:hover,
    fieldset[disabled] .my-btn:hover,
    .my-btn.disabled:focus,
    .my-btn[disabled]:focus,
    fieldset[disabled] .my-btn:focus,
    .my-btn.disabled.focus,
    .my-btn[disabled].focus,
    fieldset[disabled] .my-btn.focus {
        background-color: #333333;
        border-color: #0d0d0d;
    }

    .my-btn .badge {
        color: #A9A9A9;
        background-color: #333333;
    }
.my-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .my-btn:focus,
    .my-btn:active:focus,
    .my-btn.active:focus,
    .my-btn.focus,
    .my-btn:active.focus,
    .my-btn.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .my-btn:hover,
    .my-btn:focus,
    .my-btn.focus {
        color: #A9A9A9;
        text-decoration: none;
    }

    .my-btn:active,
    .my-btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    .my-btn.disabled,
    .my-btn[disabled],
    fieldset[disabled] .my-btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

a.my-btn.disabled,
fieldset[disabled] a.my-btn {
    pointer-events: none;
}