<div class="body-content container table-bordered alert-info">
    <ul class="list-unstyled">
        <li class="text-justify"><span class="glyphicon glyphicon-info-sign btn-lg" aria-hidden="true"></span>There is no result of saving empty template. It just contains default options for every item. It'll no result on the filter.</li>
        <li class="text-justify"><span class="glyphicon glyphicon-info-sign btn-lg" aria-hidden="true"></span>The program doesn't check options selected by the User. Make sure you're selecting valid options.</li>
    </ul>
</div>