@model POEItemFilter.ViewModels.NewItemViewModel

@{
    ViewBag.Title = "Create item filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new item</h2>

<div id="baseTypesView">@Html.Partial("BaseTypePartialView", Model.BaseTypes)</div>

<div id="typesView">@Html.Partial("TypePartialView", Model.Types)</div>

<div id="attributesView">@Html.Partial("AttributePartialView", Model.Attributes)</div>

<div id="itemsView">@Html.Partial("ItemPartialView", Model.Items)</div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $("#baseTypes").change(function () {
                    var selectedId = $(this).val();

                    $.get("/UsersItems/SelectBaseType/" + selectedId, function (data) {
                        $("div:first").html(data);
                    });
                });

                $("#types").change(function () {
                    var selectedId = $(this).val();

                    $.get("/UsersItems/SelectType/" + selectedId, function (data) {
                        $("div:first").html(data);
                    });
                });

                $("#attribute1").change(function () {
                    var selectedId = $(this).val();

                    $.get("/UsersItems/SelectAttribute/" + selectedId, function (data) {
                        $("div:first").html(data);
                    });
                });

                if (localStorage.selectedId) {
                    $("select").val(localStorage.selectedId);
                }

                $("select").change(function () {
                    var currentVal = $(this).val();
                    localStorage.setItem("selectedId", currentVal);
                });

                window.onbeforeunload = function (e) {
                    window.onunload = function () {
                        window.localStorage.clear();
                    }
                    return undefined;
                };
            });
        </script>
    }