@model IEnumerable<POEItemFilter.Models.ItemsDB.ItemType>

@{
    Layout = "~/Views/UsersItems/_NewItemPartial.cshtml";
}

<select id="types" class="my-btn">
    <option value=@(Model.Last().Id + 1)>All</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
