@{
    ViewBag.Title = "Create new item filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="newFilter" style="display:none">
    <h2>Create new item filter</h2>

    <p>
        <textarea id="filterName" class="my-textarea">Enter filter name</textarea>
    </p>

    <p>
        <textarea id="description" class="my-textarea">Let people know more about Your filter! 
What kind of items are You looking for? Currency? Unique? 
Maybe it's used by specific class?</textarea>
    </p>

    <p>
        <a href="~/UsersItems/NewItem" class="btn btn-default">New Item &raquo;</a>
        <a href="" class="btn btn-default">Generate filter &raquo;</a>
    </p>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#filterName").css({ "height": 28 });
            $("#description").css({ "height": 112 });
            $(".btn").hide();
            $("#newFilter").hide().slideDown(500, function () {
                $(".btn").fadeIn(1000);
            });
        });
    </script>
    }