@model POEItemFilter.ViewModels.ItemUserList

@{
    ViewBag.Title = "Create new item filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="row">

    <div id="newFilter" style="float:left">
        <h2>Create new item filter</h2>

        <p>
            <textarea id="filterName" class="my-textarea">Enter filter name</textarea>
        </p>

        <p>
            <textarea id="description" class="my-textarea">Let people know more about Your filter! 
What kind of items are You looking for? Currency? Unique? 
Maybe it's used by specific class?</textarea>
        </p>

        <p>
            <a href="~/UsersItems/NewItem" class="btn btn-primary">New Item &raquo;</a>
            <a href="" class="btn btn-primary">Generate filter &raquo;</a>
        </p>
    </div>

    @if (Model != null)
    {
        <div id="itemsList" style="float:left">
            <table class="table">
                <tr>
                    <th>Items list</th>
                </tr>
                @foreach (var item in Model.UsersItems)
                {
                    <tr>
                        <td>@item.ToString()</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#filterName").css({ "height": 28 });
            $("#description").css({ "height": 112 });
            $(".btn").hide();
            $("#newFilter").hide().slideDown(500, function () {
                $(".btn").fadeIn(1000);
            });
        });
    </script>
    }