@model IEnumerable<POEItemFilter.Models.ItemsDB.ItemBaseType>

@{
    ViewBag.Title = "Create item filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create item filter</h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="categoryDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select item's category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdownMenu">
        <li><a href="">All</a></li>
        @foreach (var item in Model)
        {
            <li><a>@item.Name</a></li>
        }
        <li role="separator" class="divider"></li>
    </ul>
</div>

@*<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="classDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Select item's class
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="classDropdownMenu">
        @foreach (var item in Model.GroupBy(i => i.Type).Select(i => i.First()))
        {
            <li><a href="">@item.Type.ToString()</a></li>
        }
        <li role="separator" class="divider"></li>
    </ul>
</div>*@

    @section scripts
{
        <script>
            $(".dropdown-menu li a").click(function () {
                $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        </script>
    }
