
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ</h2>

<div class="container body-content table-bordered">
<h4><strong>I downloaded filter. What's next?</strong></h4>
<h5><strong>Step 1</strong></h5>
<p>
    Go to: %USERPROFILE%/Documents/My Games/Path of Exile/
</p>
<p>
    For example:
    <img src="https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/6/63/Browserlocation.jpg?version=58090ec0d6eeb4d3dfb42f61796e7e90" alt="%USERPROFILE%/Documents/My Games/Path of Exile/"/>
</p>

<h5><strong>Step 2</strong></h5>
<h5><strong>Step 2A - Copying file</strong></h5>
<p>
    If the item filter is supplied as downloadable file with the .filter extension, you can simply download it and save it in the folder.
</p>
<h5><strong>Step 2B - Copying Contents</strong></h5>
    <p>
    Create a text file with the name you want your Filter to have. When you Save this file, be sure to select 'Save As' and set the file type to "All Files (*.*)". Copy the contents of the filter into the file.
        <br />
    Then save the file as: filtername.filter
        <br />
    It should look like this if done correctly:
        <img src="https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/f/fa/Files.jpg?version=f90aa3391f754b36f9bf8c280107846f" alt="" />
</p>
    <p>If you cannot see your file extension: <a href="http://windows.microsoft.com/en-nz/windows/show-hide-file-name-extensions#show-hide-file-name-extensions=windows-7">Show/Hide File extensions in Windows</a></p>

<h5><strong>Step 3</strong></h5>
    <p>
    Go to the in-game Options menu and click on the UI tab. You should see this new option, located at the very bottom of the list:
        <br />
    <img src="https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/6/63/Highlight.jpg?version=63f140d975771040033d9d50cc009157" />
        <br />
    If your Filter is not a .filter file, or it is not located in the same folder as your production_Config.ini file, you won't see this option.
</p>

<h5><strong>Step 4</strong></h5>
    <p>Clicking 'Reload' will display this message if the Filter is working correctly:
<img src="https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/0/09/Confirmation.png?version=dccf8c8a02b293c2fb058ca7649d43b9" />
</p>
    <h5 class="text-right"><strong>Source: <a href="https://pathofexile.gamepedia.com/Item_filter">Path of Exile Gamepedia - Item Filter</a></strong></h5>
</div>

<div class="container body-content table-bordered margin-top">
<h4><strong>Known issues</strong></h4>
<h5><strong>Item filters not found</strong></h5>
<h5><strong>Solution A</strong></h5>

    <p>Check that the filter has the correct ending (.filter).</p>
    <p>Check whether the item filter is placed in the correct folder.</p>

<h5><strong>Solution B</strong></h5>

<p>
    Currently (beta) item filters may not load for users who use a non-ASCII userpath. As a work around you can move your documents folder to a location which does not contain non-ASCII letters. To do so:
    <p />
    <p>
    Go to your user folder (%USERPROFILE%) -> right click on My Documents -> Properties -> Path -> Move... -> sSlect a new location to move to -> Apply
</p>
    <p><a href="https://www.pathofexile.com/forum/view-thread/1250862/page/5#p10557794">More information at forum.</a></p>
    <hr />
    <h5><strong>My filter is not working, what do I do?</strong></h5>
    <p>
        The most important thing to note is that blocks are read from top to bottom in the file by the client. The highest block takes priority, which means that you need to have the block that hides the scrolls, above before the line that shows the currency, because scrolls would also match the currency block.
        </p>
    <p>
        An empty block matches all items, which means that the Hide at the end of the file effectively hides everything that wasn't specifically shown.
    </p>      
    <p>
        If you were to specify the following block It would show anything with Sai in the Items basetype, Such as Sai, Saint's Hauberk, Saintly Chainmail and Mosaic Kite Shield
    </p>
    <pre>
        Show
            BaseType Sai
    </pre>
    <p>
        You only wanted to see Sai so you need to narrow it down by adding a Class
    </p>
    <pre>
        Show
            Class Dagger
            BaseType Sai
    </pre>
    <p>
        This will now show Sai, but NOT Saint's Hauberk, Saintly Chainmail and Mosaic Kite Shield as it did before.
    </p>
<h5 class="text-right"><strong>Source: <a href="https://pathofexile.gamepedia.com/Item_filter_guide">Path of Exile Gamepedia - Item filter guide</a></strong></h5>
</div>