@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_NavBar")
<div class="jumbotron" id="startPage" style="display:none">
    <h1>Welcome!</h1>

    <p class="lead">Are you tired of bunch of items laying around?</p>
            <p class="lead">Your inventory gets full really fast?</p>
            <p class="lead">It's place for you! Create your own item filter now!</p>
    <p><a href="~/Filters/NewFilter" class="btn btn-primary btn-lg" id="createFilterButton">Create filter <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".btn").hide();
            $(".jumbotron").hide().slideDown(500, function () {
                $(".btn").fadeIn(1000);
            });
        });
    </script>
}