@{
    ViewBag.Title = "Start";
}

@Html.Partial("_NavBar")

<div class="jumbotron body-content container carousel">
    <h1>Welcome!</h1>
    <h3>Are you tired of bunch of items laying around?</h3>
    <h3>Your inventory gets full really fast?</h3>
    <h3>It's place for you! Create your own item filter now!</h3>
    <hr />
    <p class="text-center"><a href="~/Filters/New" class="btn btn-primary btn-lg" id="createFilterButton">Create filter <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".btn").hide();
            $(".jumbotron").hide().slideDown(700, function () {
                $(".btn").fadeIn(1000);
            });
        });
    </script>
}