@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_NavBar")
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Are you tired of bunch of items laying around?</p>
            <p class="lead">Your inventory gets full really fast?</p>
            <p class="lead">It's place for you! Create your own item filter now!</p>
    <p><a href="~/UsersItems/NewItem" class="btn btn-primary btn-lg">Create filter &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@